:root {
  --tipografia: 'Montserrat';
  --colorMenu: #1478C6;
}
p{font-family: 'Roboto', sans-serif;}
.navbar {
  background: linear-gradient(to right, #18242D, #1478C6);
  color: #ffff;
  height:10%;

}

.navbar-brand {
  margin-left: 1.5em;
}

.navbar-text {
  color: #e7f6ff;
}

.cerrarSesion a {
  color: #FFFF;
  text-decoration: none;
  margin: 1.5em;
}

.myicono {
  padding-right: 1em;
}

.mycolorSidebar {
  background-color: #18242D;
  position: fixed;
  height: 100vh;
  padding-right: 2vh;
  width: 40vh;
}

.empresaFoto {
  margin-left:25%;
}

.linea {
  border-top: 1px solid #ffff;
  height: 2px;
  padding: 0;
  margin: 1vh;
}

.contenidoPanel_static {
  position: fixed;
  width: 80%;
  height: 87vh;
  margin-left: 41vh;
  margin-right: 1vh;
  margin-top:12vh;
  overflow:scroll auto;
}
.contenidoPanel{
  position: fixed;
  width: 79%;
  height: 87vh;
  margin-left: 41vh;
  margin-right: 1vh;
  margin-top:12vh;
  padding-bottom:5%;
 
}

.titulo_style {
  color: #575757;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.linea2 {
  border-top: 1px solid #1478C6;
  height: 2px;
  padding: 0;
}

.tablaInfo {
  margin-top: 5vh;
  height: 55vh;
  overflow: scroll;
  font-family: 'Roboto', sans-serif;
}

.tablaInfo th {
  color: #575757;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: left;
}

.table {
  border-collapse: collapse;
}

.btn_icon {
  color: #575757;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  float: right;
  padding: 1vh;
}

.plusIcon {
  color: #1478C6;
  font-size: 1.5rem;
}

.mybtn {
  width: 30vh;
}

.buscador {
  padding: 0.2em;
  margin-top: 1em;
}

.buscar {
  width: 50%;
  float: right;
}

.buttonFamily {
  font-family: 'Roboto', sans-serif;
}

.formulario {
  font-family: 'Roboto', sans-serif;
  width: 50%;
  padding: 2em;
}
.formularioRegistro{
  font-family:'Roboto', sans-serif;
  width: 50%;
  padding:0.5em 1em 0.5em 1em;
  border-radius: 2em;
  box-shadow: 0px 10px 10px -2px rgb(89, 89, 89);
}

input {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

label {
  color: #0F3452;
  margin-top: 0.2em;
  font-size: large;
}

h5{color: #1478C6;}
h1{color: #1478C6;}

.cajaForm {
  margin-top: 2em;
  margin-bottom: 4em;
}

.cajaForm-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  border-color: #1478C6;
  border-radius: 10px;
  color: #575757;
}

.edad input {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.edad {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

input[type="date"] {
  border: solid #d3d3d3 0.3px;
  border-radius: 5px;
  width: 100%;
  height: 2.5em;
  position: center;
  margin: left 0.5em;
  padding: 0.2em;
  color: #575757;
}

.cajaFormSubmit button {
  width: 40%;
  margin-left: 2.2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.cajaFormSubmit-2 button {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
footer{
  background: linear-gradient(to right, #18242D, #1478C6);
  text-align: center;
  padding:1em;
  margin-top: 3em;
  background-color: DarkSalmon;
  color: white;
}
.parrafooter{margin: 0; font-style: italic; font-size:0.8em;}
.submitBtn{width: 100%;}
#sesion a{
  color: #FFFF;
  text-decoration: none;
  margin: 1.5em;
  font-family: 'Montserrat', sans-serif;
}
.encabezado-registro{margin-top:5%;}
.encabezado-registro p{padding:0.5em;}
.encabezado-registro h1{
  color: #1478C6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:2rem;
}
.LogoImagen{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1em 0em 1em 0em;
}

.navbar-text{
  font-family:'Montserrat', sans-serif;
  font-weight: lighter;
  margin-left:1em;
}
.BG_azul{background-color: #152531;}
.BG_white{background-color: #ffffff;}
.sidebarContenido {
  display:inline-block;
  height:70%;
  margin-top: 50%;
  align-items: center;
  justify-content: center;
}
.nombreEmp {
margin-top:10%;
width: 100%;
}
.image-preview{
  background-color: red;
  width:50%;
  margin-left:25%;
}