:root {
    --tipografia: "Montserrat";
}
.navbar{
    background: linear-gradient(to right, #18242D, #1478C6);
    color: #ffff;
    display: flex;
    justify-content: space-between;
  }
.navbar-brand{
    margin-left:1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand__text-logo{
    color: #e7f6ff;
    font-family: var(--tipografia);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-left: 0.5em;
}
.div__iniciarSesion{
    color: #FFFF;
    margin-right: 1.5em;

}
.div__iniciarSesion-a{
    display: flex;
    align-items: center;
    color: #e7f6ff;
    text-decoration: none;
    outline: none;
}
.iniciarSesion__texto{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #e7f6ff;
    margin-left: 0.5em;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}
.span__iniciarSesion-icono{
    width: 30px;
    color: #e7f6ff;
}